<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Register page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class="intro-message">Please register below</p>
        <form action="/user/register" method="POST">

            <label for="email">Email</label>
            <input type="email" name="email" id="email">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <button type="submit">Register</button>
        </form>
        <div class="results-div">
            {{#if requiredError}}
            <p class="error">{{requiredError}}</p>
            {{/if}}
            {{#if invalidEmailError}}
            <p class="error">{{invalidEmailError}}</p>
            {{/if}}
            {{#if invalidPasswordError}}
            <p class="error">{{invalidPasswordError}}</p>
            {{/if}}
            {{#if userAlreadyExistsError}}
            <p class="error">{{userAlreadyExistsError}}</p>
            {{/if}}
            {{#if successfulCreation}}
            <p class="success">{{successfulCreation}}</p>
            {{/if}}
        </div>
    </div>



    {{>footer}}

    <script src="/js/darkMode.js" defer></script>
</body>

</html>