<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Find movies by title page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class="introMessage">Get information about a movie here!</p>
        <form id="searchForm" action="/movies/search" method="GET">
        <input id="searchInput" type="text" name="q" value="{{searchTerm}}" placeholder="Search for a movie">
        <button>Search</button>
        </form>
         <div class="results-div">
        {{#if movies.length}}
        <p class="resultsMessage">Showing results for: {{searchTerm}}</p>
        <ul>
            {{#each movies}}
                <li>
                    <strong>{{primaryTitle}}</strong> ({{startYear}})
                    <p>Genres: {{genres}}</p>
                </li>
                {{/each}}
        </ul>
        {{else}}
        {{error}}
        {{/if}}
    </div>
    </div>
    {{>footer}}

    <script src="/js/darkMode.js" defer></script>

</body>
</html>