<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Find movies by title page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class="intro-message">Get information about a movie here!</p>
        <form class="search-form" action="/movies/search" method="GET">
        <input class="search-input" type="text" name="q" value="{{searchTerm}}" placeholder="Search for a movie">
        <button>Search</button>
        </form>

        <div class="results-div">
            {{#if catchError}}
            <p class="error">{{catchError}}</p>
            {{/if}}
            {{#if notFoundError}}
            <p class="error">{{notFoundError}}</p>
            {{/if}}
            {{#if noTitleError}}
            <p class="error">{{noTitleError}}</p>
            {{/if}}
            {{#if combinedInfo.length}}
            <p class="results-message">Showing results for: {{searchTerm}}</p>
            <div>
                <ul>
                    {{#each combinedInfo}}
                    <li>Title: {{primaryTitle}}, Year: {{startYear}}, IMDb ID: {{tconst}}, Type: {{type}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
        </div>
        </div>
        {{>footer}}

    <script src="/js/darkMode.js" defer></script>

</body>
</html>