<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Find posters page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class="intro-message">Find a movie poster by IMDb ID. You can try it with tt0027977</p>
        <form action="/posters" method="GET">
        <input type="text" name="q" value="{{searchTerm}}" placeholder="Search for a poster">
        <button>Search</button>
        </form>
        <div class="results-div">
            {{#if noMoviesError}}
            <p class="error">{{noMoviesError}}</p>
            {{/if}}
            {{#if noSearchError}}
            <p class="error">{{noSearchError}}</p>
            {{/if}}
            {{#if serverError}}
            <p class="error">{{serverError}}</p>
            {{/if}}
            {{#if poster}}
            <p class="results-message">Download your poster for {{searchTerm}} below!</p>
            <img src="{{poster}}" alt ="Movie Poster">
            {{/if}}
        </div>
    </div>
    {{>footer}}

    <script src="/js/darkMode.js" defer></script>
</body>
</html>